<% provide(:title, 'Home') %>

<div class="center hero-unit">
<h1>Welcome to PubMedMiner</h1>
<h2>
PubMedMiner: Mining and Visualizing MeSH-based Associations in <a href="http://www.ncbi.nlm.nih.gov/pubmed">PubMed</a>
</h2>
<br>

<section>

  <%= form_for(@pubmed_search) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :query, placeholder: "Example query: asthma[mh] AND adult[mh]" %>
  </div>
  <%= f.submit "Search Pubmed", class: "btn btn-primary" %>
<% end %>

</section>
<br>
<br>
<% if !signed_in? %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<% end %>
</div>

